body{
    margin: 0;
}
h1{
    color: #fff;
    padding: 100px 0;
    margin: 0;
}
.container{
    background-color: orange;
    text-align: center;
}
.grid{
    width: 100%;
    display: block;    
}
.grid.wide{
    max-width: 1200px;
    margin: 0 auto;
}
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px){
    .wide{
        width: 644px;
    }
}
/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px){
    .wide{
        width: 984px;
    }
}